@font-face { font-family: "helvetica-neue-lt-std-35-thin"; src: url('../types/helvetica-neue-lt-std-35-thin.otf'); } 
@font-face { font-family: "helvetica-neue-lt-std-45-light"; src: url('../types/helvetica-neue-lt-std-45-light.otf'); }
@font-face { font-family: "helvetica-neue-lt-std-75-bold"; src: url('../types/helvetica-neue-lt-std-75-bold.otf'); } 
